body {
    background-color: slategray;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
}

.contendor {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    
}

.encabezado {
    background-color: aliceblue;
    min-width: 300px;
    padding: 10px;

}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 10px;
}

.imagen {
    object-fit: cover;
    height: 200px;
    width: 100%;
}