
/*
* {
    transition: all 0.3s;
  }
*/
  body {
    background: #282a33;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
  }

  .contenedor {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .encabezado {
    position: relative;
    background: #282a33;
    min-width: 350px;
    max-width: 350px;
    padding: 5px;
    color: #282a33;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    margin-bottom: 1rem;
  }

  .categoria {
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .pregunta {
    padding: 10px;
    background-color: #e7be7a;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
    border-radius: 0rem 0rem 1rem 1rem;
  }

  .btn {
    background-color: #f3ecec;
    width: 60%;
    max-width: 300px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 1.5rem 0rem 1rem 0rem;
  }

  .btn:hover {
    transform: scale(1.05);
    background-color: #04aa6d;
    color: #ececf4;
  }
  
  .numero{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #e7be7a;
    background-color: #e7be7a;
    border-radius: 3rem 3rem 3rem 3rem;
  }
  
  .puntaje{
    padding:10px;
    max-width: 3rem;
    min-width: 1.7rem;
    min-height: 1rem;
    max-height: 1rem;
    color:white;
    background-color: #04aa6d;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-top: -6px;
    margin-bottom: 10px;
  }

  header {
      padding: 0.8rem;
      background-color: #04aa6d;
      color: #efe9ef;
      width: 100%;
      border-radius: 0rem 0rem 0.1rem 0.1rem;
  }

  a{
    text-decoration: none;
  }

  h4 {
    text-align: left;
    color: brown;
    padding: 0;
    margin: 0;
  }